<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre Argentina</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/scripts.js"></script>
  

</head>
<body width="device-width">
    <div class="page-container">
        <header>
            <nav class="navBar">
                <div class="logo">
                    <a href="/"><img src="/img/logo-mercado-liebre.svg"></a>
                </div>
                
                <div class="searchBar">
                    <input type="text" placeholder="Buscar productos, marcas" name="search">
                    <button id="searchButton"><i class="fa fa-search"></i></button>
                </div>
    
                <div class="duesText">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </div>
            </nav>

            <nav id="dropdown_List">
                <section>
                    <a href=".">Ofertas</a>
                    <a href=".">Tiendas Oficiales</a>
                    <a href=".">Vender</a>
                    <a href=".">Ayuda</a>
                </section>
                <section>
                    <a href="/register">Crea tu Cuenta <i class="fas fa-id-card"></i></a>
                    <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                    <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
                </section>
            </nav>
            
            <div class="burgerButton">
                <i onclick="burgerButton()" class="fas fa-bars"></i>
            </div>

            <img id="banner_Img" src="/img/img-home-banner.jpg" alt="banner">
        </header>
        <main>
            <section>
                <h1 class="title">Basado en tu ultima visita</h1>
                <div class="product_List">
                    <article class="product">
                        <img class="productImage" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        <div class="product_Detail_Preview">
                            <i class="fas fa-truck shipping_DiscountColor"></i>
                            <p>$6.770</p>
                            <p class="shipping_DiscountColor">40% OFF</p>
                            <p id="product_Name">Cafetera Moulinex</p>
                        </div>
                    </article>
                    <article class="product">
                        <img class="productImage"
                        src="/img/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                        <div class="product_Detail_Preview">
                            <i class="fas fa-truck shipping_DiscountColor"></i>
                            <p>$216.770</p>
                            <p class="shipping_DiscountColor">40% OFF</p>
                            <p id="product_Name">Macbook Pro 2019</p>
                        </div>
                    </article>
                    <article class="product">
                        <img class="productImage"
                        src="/img/img-samsung-galaxy-s10.jpg" alt="S10">
                        <div class="product_Detail_Preview">
                            <i class="fas fa-truck shipping_DiscountColor"></i>
                            <p>$45.770</p>
                            <p class="shipping_DiscountColor">20% OFF</p>
                            <p id="product_Name">Samsung Galaxy S10</p>
                        </div>
                    </article>
                    <article class="product">
                        <img class="productImage"
                        src="/img/img-tv-samsung-smart.jpg" alt="Smart TV">
                        <div class="product_Detail_Preview">
                            <i class="fas fa-truck shipping_DiscountColor"></i>
                            <p>$42.770</p>
                            <p class="shipping_DiscountColor">30% OFF</p>
                            <p id="product_Name">Samsung Smart TV</p>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <footer>
            <div class="main-footer">
                <section class="footerSections">
                    <li><i class="fas fa-credit-card iconsFooter"></i></li>
                    <h1 id="tituloIcon">Pagá con tarjeta o en efectivo</h1>
                    <li>Con MercadoLiebreCash tenés cuotas sin</li>
                    <li>interés con tarjeta o efectivo en puntos de pago.</li>
                    <li>¡Y siempre es seguro!</li>
                </section>
                <section class="footerSections">
                    <li><i class="fas fa-gift iconsFooter"></i></li>
                    <h1 id="tituloIcon">Envío gratis desde los $2.500</h1>
                    <li>Solo por estar registrad@ en MercadoLiebre</li>
                    <li>tenés envíos gratis en miles de productos. Es</li>
                    <li>un beneficio de MercadoPuntos.</li>
                </section>
                <section class="footerSections">
                    <li><i class="fas fa-user-shield iconsFooter"></i></li>
                    <h1 id="tituloIcon">Seguridad de principio a fin</h1>
                    <li>¿No te gusta? ¡Devolvelo! En MercadoLiebre</li>
                    <li>no hay nada que no puedas hacer porque</li>
                    <li>estás siempre protegid@.</li>
                </section>
                <section class="footerSections">
                    <li>Copyright © 1999-2020 MercadoLiebre S.R.L</li>
                </section>
            </div>
        </footer>
    </div>
</body>
</html>